<h1>Editing event detail</h1>

<%= render "form", event_detail: @event_detail %>

<br>

<div>
  <%= link_to "Show this event detail", @event_detail %> |
  <%= link_to "Back to event details", event_details_path %>
</div>
