<%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>

<!-- Main Content Section -->
<main>
  <h1>Welcome <%= @current_user.username %>!</h1>
</main>

<div class="end-of-page-image">
  <%= image_tag("Sealant-Program-Set-Up.jpg", alt: "School of Dentistry Logo") %>
</div>
