<button class="button" id="screeningButton">
  Screening
</button>

<button class="button" id="preventativeButton">
  Preventative
</button>

<button class="button" id="followupButton">
  Follow Up
</button>