      <div class="form-group">
        <label for="prescriberName">Sealant Prescriber’s Signature</label>
        <input type="text" id="prescriberName" name="child_level_detail[PrescriberName]">
      </div>
      <div class="form-group">
        <label for="date">Date</label>
        <input type="date" id="date" name="child_level_detail[ScreenDate]">
      </div>
      <div class="form-group">
        <label for="comment">Comment</label>
        <textarea id="comment" name="child_level_detail[ScreenComment]" rows="2" cols="20"></textarea>
      </div>
      <div class="form-group">
        <label for="providerName">Provider's Name</label>
        <input type="text" id="providerName" name="child_level_detail[ProviderName]">
      </div>
      <div class="form-group">
        <label for="date">Date</label>
        <input type="date" id="date" name="child_level_detail[ProviderDate]">
      </div>
      <div class="form-group">
        <label for="comment">Comment</label>
        <textarea id="comment"  rows="2" cols="20" name="child_level_detail[PreventComment]"></textarea>
      </div>
      <div class="form-section">
        <h3>Data for SEALS</h3>
      </div>
      <div class="form-group">
        <label for="num1stMolarsSealed">Number of 1st molars sealed</label>
        <input type="text" id="num1stMolarsSealed" name="child_level_detail[FirstSealedNum]">
      </div>
      <div class="form-group">
        <label for="num2ndMolarsSealed">Number of 2nd molars sealed</label>
        <input type="text" id="num2ndMolarsSealed" name="child_level_detail[SecondSealedNum]">
      </div>
      <div class="form-group">
        <label for="numOtherSealed">Number of other permanent sealed</label>
        <input type="text" id="numOtherSealed"name="child_level_detail[OtherPermNum]" >
      </div>
      <div class="form-group">
        <label for="numPrimaryTeethSealed">Number of primary teeth sealed</label>
        <input type="text" id="numPrimaryTeethSealed" name="child_level_detail[PrimarySealed]">
      </div>
      <div class="form-group">
        <label for="fluorideVarnish">Fluoride varnish provided</label>
        <select name="child_level_detail[FluorideVarnish]" id="fluorideVarnish">
          <option value="">--Please select an option--</option>
          <option value="Yes">Yes</option>
          <option value="No">No</option>
        </select>
      </div>