<div class="statistics-container">
  <div class="statistics-item">
    <p>Untreated Cavities: <span contenteditable="false" id="untreatedCavities">0</span></p>
  </div>
  <div class="statistics-item">
    <p>Caries Experience: <span contenteditable="false" id="cariesExperience">0</span></p>
  </div>
  <div class="statistics-item">
    <p>Sealants Present:  <span contenteditable="false" id="sealantPresent">0</span></p>
  </div>
  <div class="statistics-item">
    <p>Referred for treatment: <span contenteditable="false" id="referredTreatment">0</span></p>
  </div>
  <div class="statistics-item">
    <p>Recommended Resealed Performed: <span contenteditable="false" id="recommendedResealed">0</span></p>
  </div>
  <div class="statistics-item">
    <p>Recommended Resealed Not Performed: <span contenteditable="false" id="recommendedResealedNot">0</span></p>
  </div>
</div>