<h1>Editing child level detail</h1>

<%= render "form", child_level_detail: @child_level_detail %>

<br>

<div>
  <%= link_to "Show this child level detail", @child_level_detail %> |
  <%= link_to "Back to child level details", child_level_details_path %>
</div>
